@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
  background: rgb(248 250 252 / 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#__next {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-active {
  color: #4483FD;
}
.bg-active {
  background-color: #4483FD;
}
.text-base {
  font-size: 0.925rem !important;
}
.text-xs {
  font-size: 0.825rem !important;
  line-height: 1.17rem  !important;
}
.text-xxs {
  font-size: 0.75rem !important;
}
.text-xxxs {
  font-size: 0.70rem !important;
}

.markdown-body h1 {
  font-weight: 700;
  color: #020617;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 12px;
}

.markdown-body h2 {
  font-weight: 700;
  color: #020617;
  font-size: 1.25rem;
  line-height: 1.95rem;
  margin-bottom: 15px;
  margin-top: 12px;
}

.markdown-body h3 {
  font-weight: 700;
  color: #0f172a;
  font-size: 1rem;
  line-height: 1.55rem;
  margin-bottom: 15px;
  margin-top: 12px;
}

.markdown-body p, .markdown-body h4 {
  font-size: 0.925rem !important;
  color: #334155;
  margin-bottom: 15px;
}

.markdown-body a {
  color: #4483FD;
}

.markdown-body a:hover {
  text-decoration: underline;
}


.markdown-body h4 {
  font-weight: 700;
  margin-bottom: 8px;
}

.markdown-body ul {
  list-style: disc !important;
  margin: 15px;
  padding: 0;
  font-size: 0.925rem !important;
  color: #334155;
  margin-bottom: 15px;
}

.markdown-body ol {
  list-style: numeric !important;
  margin: 15px;
  padding: 0;
  font-size: 0.925rem !important;
  color: #334155;
  margin-bottom: 15px;
}

.markdown-body > code, .markdown-body p > code, .markdown-body li > code {
  display: inline-block;
  background-color: #f1f5f9;
  color: #D46E0F;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.75rem !important;
}

.markdown-body > pre {
  display: inline-block;
  background-color: #f1f5f9;
  color: #0C0C0C;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 0.75rem !important;
}

/** Data table custom CSS */
.table-data {
  height: fit-content;
}
.table-data th {
  padding: 4px 8px;
  text-align: left;
  border: 1px solid #e2e8f0;
}
.table-data td {
  padding: 4px 8px;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

/** SQL Editor forced theme */
.sql_editor .ace_placeholder {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
  font:
    13px / normal ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace !important;
  margin: 0;
  padding-left: 5px !important;
}
.sql_editor .ace_editor {
  font:
    12px / normal ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}
.ace-sqlserver .ace_comment {
  color: #1d4ed8;
}
.ace-sqlserver .ace_gutter {
  background: #f1f5f9;
}
.ace_folding-enabled > .ace_gutter-cell,
.ace_folding-enabled > .ace_gutter-cell_svg-icons {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 11px;
  text-align: center;
  color: #64748b;
}
.ace-sqlserver .ace_marker-layer .ace_active-line,
.ace-sqlserver .ace_gutter-active-line {
  background: inherit !important;
}
.ace_line {
  color: #334155;
}
.ace-sqlserver .ace_keyword {
  color: #1d4ed8 !important;
}
.ace-sqlserver .ace_string {
  color: #15803d !important;
}

.playground .ace_line {
  color: #fff;
}
/* Custom class for the textarea */
.private-input {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Override styles when the textarea is focused */
.private-input:focus {
  color: initial;
  text-shadow: none;
}

/** GraphiQL */
body:not(.graphiql-light) .graphiql-response {
  --color-primary: 338, 100%, 67%;
  --color-secondary: 243, 100%, 77%;
  --color-tertiary: 158, 76%, 41%;
  --color-info: 202, 89%, 48% !important;
  --color-success: 158, 100%, 42%;
  --color-warning: 29, 90%, 49% !important;
  --color-error: 13, 100%, 58%;
  --color-neutral: 215, 16%, 47%;
  --color-base: 219, 29%, 18%;
  --popover-box-shadow: none;
  --popover-border: 1px solid hsl(var(--color-neutral));
}
.graphiql-doc-explorer-title {
  color: #020617;
}
.graphiql-doc-explorer-search {
  display: none;
}
.graphiql-markdown-description {
  margin-top: 0px !important;
}
body .graphiql-plugin {
  --color-info: 202, 100%, 55% !important;
  --color-neutral: 217, 28%, 23%;
  --color-warning: 28, 90%, 56% !important;
}
/* Customize the GraphiQL container */
.graphiql-container {
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  color: #2d2d2d;
  background-color: #FFF !important;
}
.graphiql-container .graphiql-sidebar button, button.graphiql-tab-add > svg, .graphiql-history-header {
  color: #020617 !important;
}

/* Customize the GraphiQL editor background */
.graphiql-container .editorWrap .CodeMirror {
  background-color: #f5f5f5;
  color: #2d2d2d;
}

/* Customize the GraphiQL toolbar */
.graphiql-container .toolbar {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e0e0e0;
}

/* Customize the GraphiQL buttons */
.graphiql-container .toolbar button {
  background-color: #4483fd;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.graphiql-container .toolbar button:hover {
  background-color: #356dc0;
}

/* Customize the query editor */
.graphiql-container .queryWrap {
  background-color: #ffffff;
}

/* Customize the response editor */
.graphiql-container .resultWrap {
  background-color: #ffffff;
}

/* Customize the GraphiQL result table */
.graphiql-container .result-window .CodeMirror {
  background-color: #FFF;
  color: #2d2d2d;
}
.graphiql-container .graphiql-sessions {
  background-color: #FFF !important;
}
.graphiql-logo-link {
  display: none;
}
button.graphiql-execute-button {
  background-color: #4483FD !important;
  opacity: 1;
}
button.graphiql-execute-button:hover {
  opacity: 0.95;
}
button.graphiql-execute-button:focus {
  outline: none;
}
.graphiql-tooltip {
  display: none !important;
}
.CodeMirror-info {
  display: none !important;
}